# Ignorar dependencias locales
node_modules
**/node_modules

# Ignorar carpetas de build locales
.next
dist
build
out

# NO IGNORAR estas carpetas (Lista blanca forzada)
!apps
!packages
!package.json
!pnpm-workspace.yaml
!pnpm-lock.yaml
!turbo.json